.ivds-icon--arrow-up {
  --mask-image-arrow-up: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%203.5L18.5%2010L17%2011.5L13%207.5V20H11V7.5L7%2011.5L5.5%2010L12%203.5Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-arrow-up);
}

.ivds-icon-start--arrow-up {
  --mask-image-before: var(--mask-image-arrow-up);
}

.ivds-icon-end--arrow-up {
  --mask-image-after: var(--mask-image-arrow-up);
}
