.ivds-icon--bell {
  --mask-image-bell: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M18%2017L17.998%2016.7558C17.9834%2015.914%2017.888%2015.4219%2017.6646%2015.0002H6.33536C6.11201%2015.4219%206.01663%2015.914%206.00202%2016.7558L6%2017H18ZM13%2019H11C11%2019.5523%2011.4477%2020%2012%2020C12.5128%2020%2012.9355%2019.614%2012.9933%2019.1166L13%2019ZM12%204C9.8578%204%208.10892%205.68397%208.0049%207.80036L8%208V11C8%2011.8478%207.90415%2012.4638%207.68639%2013.001H16.3136C16.12%2012.5235%2016.0228%2011.9837%2016.0036%2011.2742L16%2011V8C16%205.79086%2014.2091%204%2012%204ZM5.10695%2013.2598L5.34224%2012.9814C5.82828%2012.4172%205.98003%2012.0961%205.9981%2011.2009L6%2011V8C6%204.68629%208.68629%202%2012%202C15.2384%202%2017.8776%204.56557%2017.9959%207.77506L18%208L18.0019%2011.2009C18.0186%2012.0272%2018.1492%2012.3644%2018.5514%2012.8551L18.8931%2013.2598C19.6251%2014.1657%2019.9597%2015.0654%2019.9966%2016.6873L20%2017V19H15C15%2020.6569%2013.6569%2022%2012%2022C10.4023%2022%209.09634%2020.7511%209.00509%2019.1763L9%2019H4V17C4%2015.1778%204.3292%2014.2223%205.10695%2013.2598Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-bell);
}

.ivds-icon-start--bell {
  --mask-image-before: var(--mask-image-bell);
}

.ivds-icon-end--bell {
  --mask-image-after: var(--mask-image-bell);
}
