.ivds-icon--calendar-plus {
  --mask-image-calendar-plus: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M20%2014V17H23V19H20V22H18V19H15V17H18V14H20ZM17%202C17.5523%202%2018%202.44772%2018%203V4H22V12H20V11H4V19H13V21H2V4H6V3C6%202.44772%206.44772%202%207%202C7.55228%202%208%202.44772%208%203V4H16V3C16%202.44772%2016.4477%202%2017%202ZM20%206H4V9H20V6Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-calendar-plus);
}

.ivds-icon-start--calendar-plus {
  --mask-image-before: var(--mask-image-calendar-plus);
}

.ivds-icon-end--calendar-plus {
  --mask-image-after: var(--mask-image-calendar-plus);
}
