.ivds-icon--calendar-clock {
  --mask-image-calendar-clock: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M17%2012C20.3137%2012%2023%2014.6863%2023%2018C23%2021.3137%2020.3137%2024%2017%2024C13.6863%2024%2011%2021.3137%2011%2018C11%2014.6863%2013.6863%2012%2017%2012ZM17%2014C14.7909%2014%2013%2015.7909%2013%2018C13%2020.2091%2014.7909%2022%2017%2022C19.2091%2022%2021%2020.2091%2021%2018C21%2015.7909%2019.2091%2014%2017%2014ZM17%202C17.5523%202%2018%202.44772%2018%203V4H22L22.0016%2013.1026C21.4273%2012.5162%2020.7507%2012.0304%2020.0007%2011.674L20%2011H4V19L10.071%2019.001C10.1721%2019.7071%2010.3786%2020.3791%2010.674%2021.0007L2%2021V4H6V3C6%202.44772%206.44772%202%207%202C7.55228%202%208%202.44772%208%203V4H16V3C16%202.44772%2016.4477%202%2017%202ZM17.5%2015V17.9395L19.0303%2019.4697L17.9697%2020.5303L16%2018.5607V15H17.5ZM20%206H4V9H20V6Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-calendar-clock);
}

.ivds-icon-start--calendar-clock {
  --mask-image-before: var(--mask-image-calendar-clock);
}

.ivds-icon-end--calendar-clock {
  --mask-image-after: var(--mask-image-calendar-clock);
}
