.ivds-icon--check {
  --mask-image-check: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M21%207L10%2018L4.5%2012.5L6%2011L10%2015L19.5%205.5L21%207Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-check);
}

.ivds-icon-start--check {
  --mask-image-before: var(--mask-image-check);
}

.ivds-icon-end--check {
  --mask-image-after: var(--mask-image-check);
}
