.ivds-icon--clock {
  --mask-image-clock: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%202C17.5228%202%2022%206.47715%2022%2012C22%2017.5228%2017.5228%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202ZM12%204C7.58172%204%204%207.58172%204%2012C4%2016.4183%207.58172%2020%2012%2020C16.4183%2020%2020%2016.4183%2020%2012C20%207.58172%2016.4183%204%2012%204ZM13%206L13.0006%2011.584L16.2426%2014.8284L14.8284%2016.2426L11.2929%2012.7071L11.2946%2012.706L11.0007%2012.4138L11%206H13Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-clock);
}

.ivds-icon-start--clock {
  --mask-image-before: var(--mask-image-clock);
}

.ivds-icon-end--clock {
  --mask-image-after: var(--mask-image-clock);
}
