.ivds-icon--clock-cross {
  --mask-image-clock-cross: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%202C17.5228%202%2022%206.47715%2022%2012C22%2012.168%2021.9959%2012.3351%2021.9877%2012.5011L19.9846%2012.5005C19.9948%2012.335%2020%2012.1681%2020%2012C20%207.58172%2016.4183%204%2012%204C7.58172%204%204%207.58172%204%2012C4%2016.4183%207.58172%2020%2012%2020C12.339%2020%2012.6731%2019.9789%2013.001%2019.938L13.0011%2021.9505C12.6718%2021.9832%2012.3379%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202ZM20.5%2014.5L22%2016L20%2018C20.8902%2018.8716%2021.5569%2019.5382%2022%2020C22.4431%2020.4618%2022.4549%2020.5022%2022.0355%2020.1213L20.5%2021.5L18.5%2019.5L16.5%2021.5L15%2020L17%2018L15%2016L16.5%2014.5L18.5%2016.5L20.5%2014.5ZM13%206L12.9993%2012.4138L12.7054%2012.706L12.7071%2012.7071L9.17157%2016.2426L7.75736%2014.8284L10.9994%2011.584L11%206H13Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-clock-cross);
}

.ivds-icon-start--clock-cross {
  --mask-image-before: var(--mask-image-clock-cross);
}

.ivds-icon-end--clock-cross {
  --mask-image-after: var(--mask-image-clock-cross);
}
