.ivds-icon--customer-bot-neutral {
  --mask-image-customer-bot-neutral: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M18%205H6C3.79086%205%202%206.79086%202%209V17C2%2019.2091%203.79086%2021%206%2021H18C20.2091%2021%2022%2019.2091%2022%2017V9C22%206.79086%2020.2091%205%2018%205ZM18%207C19.1046%207%2020%207.89543%2020%209V17C20%2018.1046%2019.1046%2019%2018%2019H6C4.89543%2019%204%2018.1046%204%2017V9C4%207.89543%204.89543%207%206%207H18ZM17%2015.0287H7V17H17V15.0287ZM8.50004%209C7.39544%209%206.5%209.89539%206.5%2011C6.5%2012.1045%207.39544%2013%208.50004%2013C9.60456%2013%2010.5%2012.1045%2010.5%2011C10.5%209.89539%209.60456%209%208.50004%209ZM15.5%209C14.3954%209%2013.5%209.89539%2013.5%2011C13.5%2012.1045%2014.3954%2013%2015.5%2013C16.6046%2013%2017.5%2012.1045%2017.5%2011C17.5%209.89539%2016.6046%209%2015.5%209ZM12%201C12.8284%201%2013.5%201.67154%2013.5%202.5C13.5%202.94372%2013.3073%203.34245%2013.0011%203.61709L13%205H11L10.9999%203.61796C10.6931%203.3433%2010.5%202.94419%2010.5%202.5C10.5%201.67154%2011.1716%201%2012%201Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-customer-bot-neutral);
}

.ivds-icon-start--customer-bot-neutral {
  --mask-image-before: var(--mask-image-customer-bot-neutral);
}

.ivds-icon-end--customer-bot-neutral {
  --mask-image-after: var(--mask-image-customer-bot-neutral);
}
