.ivds-icon--download-cloud {
  --mask-image-download-cloud: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M13%209V19L15%2017L16.5%2018.5L12%2023L7.49998%2018.5L8.99998%2017L11%2019V9H13ZM11.5%201C14.057%201%2016.3672%202.55157%2017.2358%204.93092L17.2835%205.0665L17.4145%205.08731C20.0449%205.53521%2021.9316%207.61877%2021.9982%2010.3504L22%2010.5C22%2013.6412%2019.7996%2015.9265%2016.7006%2015.9983L15.5%2016V14H16.55C18.6163%2014%2020%2012.5943%2020%2010.5C20%208.53805%2018.6018%207.11878%2016.6001%207.00507L16.4715%206.99959L15.6756%206.9769L15.5194%206.19612C15.1395%204.29673%2013.4337%203%2011.5%203C9.26283%203%207.62211%204.55854%207.50658%206.75063L7.50154%206.8803L7.4877%207.99175L6.3306%208.00124C4.84062%208.04439%203.59998%209.45297%203.59998%2011.1C3.59998%2012.6644%204.83866%2013.9394%206.38874%2013.9979L6.49998%2014H8.49998V16H6.49998C3.79378%2016%201.59998%2013.8062%201.59998%2011.1C1.59998%208.68983%203.25229%206.56452%205.495%206.09571L5.56448%206.082L5.58682%205.93675C6.055%203.09689%208.36432%201.06966%2011.3452%201.00176L11.5%201Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-download-cloud);
}

.ivds-icon-start--download-cloud {
  --mask-image-before: var(--mask-image-download-cloud);
}

.ivds-icon-end--download-cloud {
  --mask-image-after: var(--mask-image-download-cloud);
}
