.ivds-icon--drag {
  --mask-image-drag: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M8%2016C9.10457%2016%2010%2016.8954%2010%2018C10%2019.1046%209.10457%2020%208%2020C6.89543%2020%206%2019.1046%206%2018C6%2016.8954%206.89543%2016%208%2016ZM16%2016C17.1046%2016%2018%2016.8954%2018%2018C18%2019.1046%2017.1046%2020%2016%2020C14.8954%2020%2014%2019.1046%2014%2018C14%2016.8954%2014.8954%2016%2016%2016ZM8%2010C9.10457%2010%2010%2010.8954%2010%2012C10%2013.1046%209.10457%2014%208%2014C6.89543%2014%206%2013.1046%206%2012C6%2010.8954%206.89543%2010%208%2010ZM16%2010C17.1046%2010%2018%2010.8954%2018%2012C18%2013.1046%2017.1046%2014%2016%2014C14.8954%2014%2014%2013.1046%2014%2012C14%2010.8954%2014.8954%2010%2016%2010ZM8%204C9.10457%204%2010%204.89543%2010%206C10%207.10457%209.10457%208%208%208C6.89543%208%206%207.10457%206%206C6%204.89543%206.89543%204%208%204ZM16%204C17.1046%204%2018%204.89543%2018%206C18%207.10457%2017.1046%208%2016%208C14.8954%208%2014%207.10457%2014%206C14%204.89543%2014.8954%204%2016%204Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-drag);
}

.ivds-icon-start--drag {
  --mask-image-before: var(--mask-image-drag);
}

.ivds-icon-end--drag {
  --mask-image-after: var(--mask-image-drag);
}
