.ivds-icon--euro-sign {
  --mask-image-euro-sign: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12.6201%2020C15.5698%2020%2017.2235%2017.8771%2017.7821%2015.7318L15.4358%2014.257C15.324%2016.067%2014.676%2017.8771%2012.6201%2017.8771C10.676%2017.8771%209.78212%2016.514%209.42458%2014.6592H12.5084L13.1564%2012.8268H9.24581C9.23091%2012.648%209.22595%2012.4593%209.22429%2012.2673L9.22346%2011.3966H13.581L14.2067%209.5419H9.44693C9.82682%207.62011%2010.7877%206.14525%2012.6201%206.14525C14.6536%206.14525%2015.324%207.75419%2015.4358%209.58659L17.7821%208.11173C17.2235%205.96648%2015.5251%204%2012.6201%204C9.84916%204%207.63687%205.94413%206.94413%209.5419H5V11.3966H6.74302V11.9777C6.74302%2012.2682%206.74302%2012.5587%206.76536%2012.8268H5V14.6592H6.96648C7.61452%2018.1899%209.67039%2020%2012.6201%2020Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-euro-sign);
}

.ivds-icon-start--euro-sign {
  --mask-image-before: var(--mask-image-euro-sign);
}

.ivds-icon-end--euro-sign {
  --mask-image-after: var(--mask-image-euro-sign);
}
