.ivds-icon--eye {
  --mask-image-eye: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%204.5C16.0501%204.5%2019.7168%207%2023%2012C19.7168%2017%2016.0501%2019.5%2012%2019.5C7.94991%2019.5%204.28325%2017%201%2012C4.28325%207%207.94991%204.5%2012%204.5ZM12%206.5C9.04854%206.5%206.2496%208.20372%203.57529%2011.8024L3.43%2012L3.57529%2012.1976C6.19914%2015.7284%208.94296%2017.435%2011.8331%2017.4982L12%2017.5C14.9515%2017.5%2017.7504%2015.7963%2020.4247%2012.1976L20.5695%2012L20.4247%2011.8024C17.8009%208.27162%2015.057%206.56497%2012.1669%206.50182L12%206.5ZM12%208C14.2091%208%2016%209.79086%2016%2012C16%2014.2091%2014.2091%2016%2012%2016C9.79086%2016%208%2014.2091%208%2012C8%209.79086%209.79086%208%2012%208ZM12%2010C10.8954%2010%2010%2010.8954%2010%2012C10%2013.1046%2010.8954%2014%2012%2014C13.1046%2014%2014%2013.1046%2014%2012C14%2010.8954%2013.1046%2010%2012%2010Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-eye);
}

.ivds-icon-start--eye {
  --mask-image-before: var(--mask-image-eye);
}

.ivds-icon-end--eye {
  --mask-image-after: var(--mask-image-eye);
}
