.ivds-icon--face-sad {
  --mask-image-face-sad: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%202C17.5228%202%2022%206.47715%2022%2012C22%2017.5228%2017.5228%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202ZM12%204C7.58172%204%204%207.58172%204%2012C4%2016.4183%207.58172%2020%2012%2020C16.4183%2020%2020%2016.4183%2020%2012C20%207.58172%2016.4183%204%2012%204ZM12.0054%2013C14.0162%2013%2015.8308%2014.0998%2016.7845%2015.8221L16.8948%2016.0317L15.1052%2016.9246L15.0426%2016.805C14.4388%2015.7027%2013.2846%2015%2012.0054%2015C10.7439%2015%209.60422%2015.6835%208.99396%2016.7588L8.89722%2016.9416L7.10278%2016.0584L7.17312%2015.9204C8.11104%2014.1424%209.95612%2013%2012.0054%2013ZM8.5%208C9.32843%208%2010%208.67157%2010%209.5C10%2010.3284%209.32843%2011%208.5%2011C7.67157%2011%207%2010.3284%207%209.5C7%208.67157%207.67157%208%208.5%208ZM15.5%208C16.3284%208%2017%208.67157%2017%209.5C17%2010.3284%2016.3284%2011%2015.5%2011C14.6716%2011%2014%2010.3284%2014%209.5C14%208.67157%2014.6716%208%2015.5%208Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-face-sad);
}

.ivds-icon-start--face-sad {
  --mask-image-before: var(--mask-image-face-sad);
}

.ivds-icon-end--face-sad {
  --mask-image-after: var(--mask-image-face-sad);
}
