.ivds-icon--google {
  --mask-image-google: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M19.0714%203C20.0855%203%2020.9173%203.78353%2020.9942%204.7779L21%204.92857V19.0714C21%2020.0855%2020.2165%2020.9173%2019.2221%2020.9942L19.0714%2021H4.92857C3.91454%2021%203.08273%2020.2165%203.0058%2019.2221L3%2019.0714V4.92857C3%203.91454%203.78353%203.08273%204.7779%203.0058L4.92857%203H19.0714ZM11.9677%205C8.09516%205%204.96774%208.12742%204.96774%2012C4.96774%2015.8726%208.09516%2019%2011.9677%2019C16.0069%2019%2018.7419%2016.1577%2018.7419%2012.1637C18.7419%2011.7911%2018.713%2011.4962%2018.6682%2011.2096L18.6319%2010.9952H11.9677V13.4028H15.9419C15.7782%2014.4331%2014.7395%2016.4202%2011.9677%2016.4202C9.57984%2016.4202%207.62944%2014.4415%207.62944%2012C7.62944%208.13558%2012.1001%206.32407%2014.6209%208.5389L14.7565%208.66371L16.6617%206.83185C15.4395%205.69153%2013.8532%205%2011.9677%205Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-google);
}

.ivds-icon-start--google {
  --mask-image-before: var(--mask-image-google);
}

.ivds-icon-end--google {
  --mask-image-after: var(--mask-image-google);
}
