.ivds-icon--heart-fill {
  --mask-image-heart-fill: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M16.8423%202C13.9323%202%2012.4662%203.80597%2012.0014%204.51758C11.5369%203.80597%2010.0712%202%207.16076%202H7.15727C5.51192%202%203.96474%202.65416%202.80135%203.84203C1.6399%205.02871%201%206.60804%201%208.28999C1%209.97195%201.6399%2011.5513%202.80135%2012.738C4.06719%2014.03%205.22708%2015.0737%206.34895%2016.0832C7.93027%2017.5061%209.4239%2018.85%2010.9897%2020.6949C11.1694%2020.9064%2011.8465%2021.7979%2011.8535%2021.807L11.9998%2022L12.1461%2021.807C12.1531%2021.7979%2012.8302%2020.9064%2013.0099%2020.6949C14.5761%2018.85%2016.0697%2017.5061%2017.6511%2016.0832C18.7729%2015.0737%2019.9328%2014.03%2021.1983%2012.7376C22.3601%2011.5513%2023%209.97195%2023%208.28999C23%206.60804%2022.3601%205.02871%2021.1983%203.84242C20.0353%202.65416%2018.4881%202%2016.8423%202Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-heart-fill);
}

.ivds-icon-start--heart-fill {
  --mask-image-before: var(--mask-image-heart-fill);
}

.ivds-icon-end--heart-fill {
  --mask-image-after: var(--mask-image-heart-fill);
}
