.ivds-icon--home-smoke {
  --mask-image-home-smoke: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%204L23%2015L21.5%2016.5L20%2015V23H4V15L2.5%2016.5L1%2015L12%204ZM12%207L6%2013V21L8.999%2020.999L9%2014H15L14.999%2020.999L18%2021V13L12%207ZM13%2016H11L10.999%2020.999H12.999L13%2016ZM20%201C20%201.90099%2019.7632%202.40639%2019.1667%203.12309L19.0694%203.23809C18.6127%203.771%2018.5%203.99007%2018.5%204.5C18.5%204.97806%2018.599%205.20048%2018.9878%205.66552L19.0694%205.76191C19.7043%206.50252%2019.9728%206.99991%2019.998%207.86094L20%208H18.5C18.5%207.52194%2018.401%207.29952%2018.0122%206.83448L17.9306%206.73809C17.2623%205.9585%2017%205.44841%2017%204.5C17%203.59901%2017.2368%203.09361%2017.8333%202.37691L17.9306%202.26191C18.3588%201.76231%2018.4846%201.53854%2018.4986%201.09235L18.5%201H20Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-home-smoke);
}

.ivds-icon-start--home-smoke {
  --mask-image-before: var(--mask-image-home-smoke);
}

.ivds-icon-end--home-smoke {
  --mask-image-after: var(--mask-image-home-smoke);
}
