.ivds-icon--key {
  --mask-image-key: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M17.1508%201C19.6361%201%2021.6508%203.01472%2021.6508%205.5C21.6508%207.98528%2019.6361%2010%2017.1508%2010C16.2736%2010%2015.4551%209.74902%2014.763%209.31495L7.09%2016.987L9.4046%2019.2393L8.00962%2020.6724L5.675%2018.401L4.831%2019.245L7.65685%2022.0714L6.24264%2023.4856L3.417%2020.66L2%2019.2487L3.41421%2017.8287L5.482%2015.766L5.6546%2015.5892L13.3454%207.90287C12.9055%207.20765%2012.6508%206.38356%2012.6508%205.5C12.6508%203.01472%2014.6655%201%2017.1508%201ZM17.1508%203C15.7701%203%2014.6508%204.11929%2014.6508%205.5C14.6508%206.88071%2015.7701%208%2017.1508%208C18.5315%208%2019.6508%206.88071%2019.6508%205.5C19.6508%204.11929%2018.5315%203%2017.1508%203Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-key);
}

.ivds-icon-start--key {
  --mask-image-before: var(--mask-image-key);
}

.ivds-icon-end--key {
  --mask-image-after: var(--mask-image-key);
}
