.ivds-icon--linkedin {
  --mask-image-linkedin: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M19.0714%203H4.92857C3.86384%203%203%203.86384%203%204.92857V19.0714C3%2020.1362%203.86384%2021%204.92857%2021H19.0714C20.1362%2021%2021%2020.1362%2021%2019.0714V4.92857C21%203.86384%2020.1362%203%2019.0714%203ZM5.77232%2018.4286V9.83839H8.4442V18.4286H5.77232ZM5.55937%207.1183C5.55937%206.26652%206.25045%205.57143%207.10625%205.57143C7.95804%205.57143%208.65312%206.26652%208.65312%207.1183C8.65312%207.97411%207.96205%208.66518%207.10625%208.66518C6.25045%208.66518%205.55937%207.97009%205.55937%207.1183ZM15.7728%2018.4286V14.25C15.7728%2013.2536%2015.7527%2011.9719%2014.3866%2011.9719C12.9964%2011.9719%2012.7835%2013.0567%2012.7835%2014.1777V18.4286H10.1156V9.83839H12.675V11.0116H12.7112C13.0688%2010.3366%2013.9406%209.62545%2015.2384%209.62545C17.9384%209.62545%2018.4406%2011.4054%2018.4406%2013.7196V18.4286H15.7728Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-linkedin);
}

.ivds-icon-start--linkedin {
  --mask-image-before: var(--mask-image-linkedin);
}

.ivds-icon-end--linkedin {
  --mask-image-after: var(--mask-image-linkedin);
}
