.ivds-icon--locate {
  --mask-image-locate: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M13%202L13.001%204.06201C16.6192%204.51365%2019.4869%207.38163%2019.9381%2011L22%2011V13L19.938%2013.001C19.4864%2016.6189%2016.6189%2019.4864%2013.001%2019.938L13%2022H11L11%2019.9381C7.38163%2019.4869%204.51365%2016.6192%204.06201%2013.001L2%2013V11L4.06189%2011C4.51312%207.38129%207.38129%204.51312%2011%204.06189L11%202H13ZM12%206C8.68629%206%206%208.68629%206%2012C6%2015.3137%208.68629%2018%2012%2018C15.3137%2018%2018%2015.3137%2018%2012C18%208.68629%2015.3137%206%2012%206ZM12%208.5C13.933%208.5%2015.5%2010.067%2015.5%2012C15.5%2013.933%2013.933%2015.5%2012%2015.5C10.067%2015.5%208.5%2013.933%208.5%2012C8.5%2010.067%2010.067%208.5%2012%208.5ZM12%2010.5C11.1716%2010.5%2010.5%2011.1716%2010.5%2012C10.5%2012.8284%2011.1716%2013.5%2012%2013.5C12.8284%2013.5%2013.5%2012.8284%2013.5%2012C13.5%2011.1716%2012.8284%2010.5%2012%2010.5Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-locate);
}

.ivds-icon-start--locate {
  --mask-image-before: var(--mask-image-locate);
}

.ivds-icon-end--locate {
  --mask-image-after: var(--mask-image-locate);
}
