.ivds-icon--mobile {
  --mask-image-mobile: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M15%202C17.1422%202%2018.8911%203.68397%2018.9951%205.80036L19%206V18C19%2020.1422%2017.316%2021.8911%2015.1996%2021.9951L15%2022H9C6.8578%2022%205.10892%2020.316%205.0049%2018.1996L5%2018V6C5%203.8578%206.68397%202.10892%208.80036%202.0049L9%202H15ZM15%204H9C7.94564%204%207.08183%204.81588%207.00549%205.85074L7%206V18C7%2019.0544%207.81588%2019.9182%208.85074%2019.9945L9%2020H15C16.0544%2020%2016.9182%2019.1841%2016.9945%2018.1493L17%2018V6C17%204.94564%2016.1841%204.08183%2015.1493%204.00549L15%204ZM12%2015.5C12.8284%2015.5%2013.5%2016.1716%2013.5%2017C13.5%2017.8284%2012.8284%2018.5%2012%2018.5C11.1716%2018.5%2010.5%2017.8284%2010.5%2017C10.5%2016.1716%2011.1716%2015.5%2012%2015.5Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-mobile);
}

.ivds-icon-start--mobile {
  --mask-image-before: var(--mask-image-mobile);
}

.ivds-icon-end--mobile {
  --mask-image-after: var(--mask-image-mobile);
}
