.ivds-icon--money-bag-fill {
  --mask-image-money-bag-fill: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M17.9772%203.90476C17.9772%202.95238%2017.9772%202%2011.9995%202C6.02259%202%206.02259%202.95251%206.02259%203.90476C6.02259%204.34797%207.21975%205.75613%208.85629%206.73027C5.23966%208.81779%202.37855%2013.9814%202.03782%2017.2381C1.5396%2022%206.0227%2022%2011.9993%2022C17.976%2022%2022.4603%2022%2021.9622%2017.2381C21.6233%2013.9983%2018.7893%208.87132%2015.199%206.76301C16.807%205.84216%2017.9772%204.50064%2017.9772%203.90476ZM12.464%2014.716L12.116%2015.856H10.712C10.916%2016.66%2011.336%2017.2%2012.212%2017.2C13.184%2017.2%2013.52%2016.336%2013.532%2015.352L15.116%2016.348C14.744%2017.56%2013.784%2018.592%2012.212%2018.592C10.64%2018.592%209.452%2017.68%209.032%2015.856H8V14.716H8.888C8.876%2014.584%208.876%2014.44%208.876%2014.284V14.02H8V12.88H9.02C9.44%2010.984%2010.712%2010%2012.212%2010C13.724%2010%2014.744%2010.96%2015.116%2012.184L13.532%2013.168C13.532%2012.184%2013.16%2011.392%2012.212%2011.392C11.384%2011.392%2010.928%2012.016%2010.712%2012.88H12.98L12.644%2014.02H10.568V14.716H12.464Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-money-bag-fill);
}

.ivds-icon-start--money-bag-fill {
  --mask-image-before: var(--mask-image-money-bag-fill);
}

.ivds-icon-end--money-bag-fill {
  --mask-image-after: var(--mask-image-money-bag-fill);
}
