.ivds-icon--paperclip {
  --mask-image-paperclip: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M16%207H18V16C18%2019.3137%2015.3137%2022%2012%2022C8.7616%2022%206.12243%2019.4344%206.00414%2016.2249L6%2016V6.5C6%204.01472%208.01472%202%2010.5%202C12.9143%202%2014.8845%203.90124%2014.9951%206.28816L15%206.5V15C15%2016.6569%2013.6569%2018%2012%2018C10.4023%2018%209.09634%2016.7511%209.00509%2015.1763L9%2015V7H11V15C11%2015.5523%2011.4477%2016%2012%2016C12.5128%2016%2012.9355%2015.614%2012.9933%2015.1166L13%2015V6.5C13%205.11929%2011.8807%204%2010.5%204C9.17452%204%208.08996%205.03154%208.00532%206.33562L8%206.5V16C8%2018.2091%209.79086%2020%2012%2020C14.1422%2020%2015.8911%2018.316%2015.9951%2016.1996L16%2016V7Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-paperclip);
}

.ivds-icon-start--paperclip {
  --mask-image-before: var(--mask-image-paperclip);
}

.ivds-icon-end--paperclip {
  --mask-image-after: var(--mask-image-paperclip);
}
