.ivds-icon--person-genderless {
  --mask-image-person-genderless: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M11%2017V22H13V17H15V24H9V17H11ZM16.5%209L17%2017H15L14.7167%2010.4952C14.4695%209.51758%2014.0073%209.0376%2013.1695%209.00213L10.9719%209C10.0691%209%209.57944%209.47848%209.32235%2010.4952L9%2017H7L7.5%209C7.95127%207.21543%208.98859%207.05914%2010.829%207.00219L10.9719%207H13.0672C14.9908%207%2016.0372%207.16967%2016.5%209ZM12.0195%200C13.6764%200%2015.0195%201.34315%2015.0195%203C15.0195%204.59768%2013.7706%205.90366%2012.1958%205.99491L12%206C10.3432%206%209.00005%204.65685%209.00005%203C9.00005%201.40232%2010.249%200.0963394%2011.8237%200.00509271L12.0195%200ZM12.0092%202.00004L12.0195%202C11.4672%202%2011.0195%202.44772%2011.0195%203C11.0195%203.54891%2011.4618%203.99453%2012.0094%203.99995C12.5523%204%2013%203.55228%2013%203C13%202.45078%2012.5572%202.00497%2012.0092%202.00004Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-person-genderless);
}

.ivds-icon-start--person-genderless {
  --mask-image-before: var(--mask-image-person-genderless);
}

.ivds-icon-end--person-genderless {
  --mask-image-after: var(--mask-image-person-genderless);
}
