.ivds-icon--photo {
  --mask-image-photo: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M20%202V22H4V2H20ZM16%2015C15.1401%2015%2014.7159%2015.2223%2013.88%2016.0363L13.7071%2016.2071C12.4113%2017.5029%2011.5828%2018%2010%2018C8.50049%2018%207.67799%2017.5539%206.49379%2016.4051L6%2015.92V20H18V15.922L17.958%2015.8813C17.2256%2015.1936%2016.8025%2015%2016%2015ZM18%204H6L6.00114%2013.4397C6.50287%2013.6831%206.92886%2014.0298%207.51078%2014.5986L7.70711%2014.7929C8.6613%2015.7471%209.08282%2016%2010%2016C10.8599%2016%2011.2841%2015.7777%2012.12%2014.9637L12.2929%2014.7929C13.5887%2013.4971%2014.4172%2013%2016%2013C16.8098%2013%2017.4222%2013.1301%2018.0007%2013.4308L18%204ZM10%206C11.6569%206%2013%207.34315%2013%209C13%2010.6569%2011.6569%2012%2010%2012C8.34315%2012%207%2010.6569%207%209C7%207.34315%208.34315%206%2010%206ZM10%208C9.44772%208%209%208.44772%209%209C9%209.55228%209.44772%2010%2010%2010C10.5523%2010%2011%209.55228%2011%209C11%208.44772%2010.5523%208%2010%208Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-photo);
}

.ivds-icon-start--photo {
  --mask-image-before: var(--mask-image-photo);
}

.ivds-icon-end--photo {
  --mask-image-after: var(--mask-image-photo);
}
