.ivds-icon--playback-play {
  --mask-image-playback-play: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M7%205L19%2012L7%2019V5Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-playback-play);
}

.ivds-icon-start--playback-play {
  --mask-image-before: var(--mask-image-playback-play);
}

.ivds-icon-end--playback-play {
  --mask-image-after: var(--mask-image-playback-play);
}
