.ivds-icon--playback-next {
  --mask-image-playback-next: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M19%204V20H17V4H19ZM5%205L17%2012L5%2019V5Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-playback-next);
}

.ivds-icon-start--playback-next {
  --mask-image-before: var(--mask-image-playback-next);
}

.ivds-icon-end--playback-next {
  --mask-image-after: var(--mask-image-playback-next);
}
