.ivds-icon--playback-previous {
  --mask-image-playback-previous: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M5%204V20H7V4H5ZM19%205L7%2012L19%2019V5Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-playback-previous);
}

.ivds-icon-start--playback-previous {
  --mask-image-before: var(--mask-image-playback-previous);
}

.ivds-icon-end--playback-previous {
  --mask-image-after: var(--mask-image-playback-previous);
}
