.ivds-icon--question-circle {
  --mask-image-question-circle: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%202C17.5228%202%2022%206.47715%2022%2012C22%2017.5228%2017.5228%2022%2012%2022C6.47715%2022%202%2017.5228%202%2012C2%206.47715%206.47715%202%2012%202ZM12%204C7.58172%204%204%207.58172%204%2012C4%2016.4183%207.58172%2020%2012%2020C16.4183%2020%2020%2016.4183%2020%2012C20%207.58172%2016.4183%204%2012%204ZM13%2016V18H11V16H13ZM12.0437%205.75C14.0343%205.75%2015.7173%207.29464%2015.7173%209.42361C15.7173%2010.7806%2015.2461%2011.489%2014.161%2012.306L13.9187%2012.4844C13.1753%2013.0295%2012.9556%2013.3359%2012.9386%2014.142L12.9375%2014.25H10.9375C10.9375%2012.6746%2011.4591%2011.8378%2012.6143%2010.9622L12.8618%2010.7796C13.5685%2010.2628%2013.7173%2010.0539%2013.7173%209.42361C13.7173%208.43934%2012.9662%207.75%2012.0437%207.75C11.1907%207.75%2010.4785%208.34077%2010.3816%209.20835L10.3734%209.30587L8.37663%209.19182C8.49191%207.17347%2010.1344%205.75%2012.0437%205.75Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-question-circle);
}

.ivds-icon-start--question-circle {
  --mask-image-before: var(--mask-image-question-circle);
}

.ivds-icon-end--question-circle {
  --mask-image-after: var(--mask-image-question-circle);
}
