.ivds-icon--rss {
  --mask-image-rss: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M19.0714%203C20.0855%203%2020.9173%203.78353%2020.9942%204.7779L21%204.92857V19.0714C21%2020.0855%2020.2165%2020.9173%2019.2221%2020.9942L19.0714%2021H4.92857C3.91454%2021%203.08273%2020.2165%203.0058%2019.2221L3%2019.0714V4.92857C3%203.91454%203.78353%203.08273%204.7779%203.0058L4.92857%203H19.0714ZM7%2015C5.89543%2015%205%2015.8954%205%2017C5%2018.1046%205.89543%2019%207%2019C8.10457%2019%209%2018.1046%209%2017C9%2015.8954%208.10457%2015%207%2015ZM5%209.5V12L5.24065%2012.0041C8.91533%2012.1282%2011.8718%2015.0847%2011.9959%2018.7593L12%2019H14.5L14.4962%2018.7295C14.3556%2013.6977%2010.3023%209.64445%205.27048%209.50378L5%209.5ZM5%205V7.5L5.29227%207.50364C11.4098%207.65625%2016.3412%2012.5862%2016.4962%2018.7031L16.5%2019H19L18.9966%2018.6874C18.8326%2011.2051%2012.7986%205.16972%205.31698%205.00352L5%205Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-rss);
}

.ivds-icon-start--rss {
  --mask-image-before: var(--mask-image-rss);
}

.ivds-icon-end--rss {
  --mask-image-after: var(--mask-image-rss);
}
