.ivds-icon--senior {
  --mask-image-senior: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M7.5%2012.5C8.88071%2012.5%2010%2013.6193%2010%2015V16H8V15C8%2014.7239%207.77614%2014.5%207.5%2014.5C7.22386%2014.5%207%2014.7239%207%2015V24H5V15C5%2013.6193%206.11929%2012.5%207.5%2012.5ZM18%2016V24H10V18H12V22H16V16H18ZM17%207C18.6569%207%2020%208.34315%2020%2010V16H18V10L17.9933%209.88338C17.9355%209.38604%2017.5128%209%2017%209H11C10.4477%209%2010%209.44772%2010%2010V11H8V10L8.00509%209.82373C8.09634%208.24892%209.40232%207%2011%207H17ZM14%204C14.5523%204%2015%203.55228%2015%203C15%202.44772%2014.5523%202%2014%202C13.4477%202%2013%202.44772%2013%203C13%203.55228%2013.4477%204%2014%204ZM14%206C15.6569%206%2017%204.65685%2017%203C17%201.34315%2015.6569%200%2014%200C12.3431%200%2011%201.34315%2011%203C11%204.65685%2012.3431%206%2014%206Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-senior);
}

.ivds-icon-start--senior {
  --mask-image-before: var(--mask-image-senior);
}

.ivds-icon-end--senior {
  --mask-image-after: var(--mask-image-senior);
}
