.ivds-icon--shield {
  --mask-image-shield: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M17%209.25L15.75%208L10.75%2013L8.25%2010.5L7%2011.75L10.75%2015.5L17%209.25Z'%20fill='black'/%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M21%206C21%2022%2012%2022%2012%2022C12%2022%203%2022%203%206L12%202L21%206ZM8.82872%2018.5052C7.23291%2017.0867%205.24721%2014.0133%205.02123%207.29031L12%204.18864L18.9787%207.29031C18.7528%2014.0133%2016.7671%2017.0867%2015.1712%2018.5052C14.2998%2019.2798%2013.4477%2019.6518%2012.838%2019.8324C12.5317%2019.9232%2012.2871%2019.9653%2012.1347%2019.9847C12.0736%2019.9924%2012.028%2019.9964%2012%2019.9985C11.9719%2019.9964%2011.9263%2019.9924%2011.8652%2019.9847C11.7129%2019.9653%2011.4682%2019.9232%2011.1619%2019.8324C10.5523%2019.6518%209.70017%2019.2798%208.82872%2018.5052Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-shield);
}

.ivds-icon-start--shield {
  --mask-image-before: var(--mask-image-shield);
}

.ivds-icon-end--shield {
  --mask-image-after: var(--mask-image-shield);
}
