.ivds-icon--signout {
  --mask-image-signout: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M16%202V7H14V4H5V20H14V17H16V22H3V2H16ZM18%207L23%2012L18%2017L16.5%2015.5L19%2012.999L8%2013V11L18.999%2010.999L16.5%208.5L18%207Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-signout);
}

.ivds-icon-start--signout {
  --mask-image-before: var(--mask-image-signout);
}

.ivds-icon-end--signout {
  --mask-image-after: var(--mask-image-signout);
}
