.ivds-icon--sort-ascending {
  --mask-image-sort-ascending: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M6%204V16.5L8%2014.5L9.5%2016L5%2020.5L0.5%2016L2%2014.5L4%2016.5V4H6ZM23%2017V19H11V17H23ZM21%2013V15H11V13H21ZM19%209V11H11V9H19ZM16%205V7H11V5H16Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-sort-ascending);
}

.ivds-icon-start--sort-ascending {
  --mask-image-before: var(--mask-image-sort-ascending);
}

.ivds-icon-end--sort-ascending {
  --mask-image-after: var(--mask-image-sort-ascending);
}
