.ivds-icon--text-tool {
  --mask-image-text-tool: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M8%2020V18H11V6H6V8H4V4H20V8H18V6H13V18H16V20H8Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-text-tool);
}

.ivds-icon-start--text-tool {
  --mask-image-before: var(--mask-image-text-tool);
}

.ivds-icon-end--text-tool {
  --mask-image-after: var(--mask-image-text-tool);
}
