.ivds-icon--traveler {
  --mask-image-traveler: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M7.5999%2010.5C9.25675%2010.5%2010.5999%2011.8431%2010.5999%2013.5V14H14V24H0V14H3.3999V13.5C3.3999%2011.8431%204.74305%2010.5%206.3999%2010.5H7.5999ZM22%2016V24H18V22H20V16H22ZM12%2016H2V22H12V16ZM21%207C22.6569%207%2024%208.34315%2024%2010V16H22V10C22%209.44772%2021.5523%209%2021%209H15C14.4477%209%2014%209.44772%2014%2010V12H12V10C12%208.34315%2013.3431%207%2015%207H21ZM7.5999%2012.5H6.3999C5.84762%2012.5%205.3999%2012.9477%205.3999%2013.5V14H8.5999V13.5C8.5999%2012.9477%208.15219%2012.5%207.5999%2012.5ZM18%204C18.5523%204%2019%203.55228%2019%203C19%202.44772%2018.5523%202%2018%202C17.4477%202%2017%202.44772%2017%203C17%203.55228%2017.4477%204%2018%204ZM18%206C19.6569%206%2021%204.65685%2021%203C21%201.34315%2019.6569%200%2018%200C16.3431%200%2015%201.34315%2015%203C15%204.65685%2016.3431%206%2018%206Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-traveler);
}

.ivds-icon-start--traveler {
  --mask-image-before: var(--mask-image-traveler);
}

.ivds-icon-end--traveler {
  --mask-image-after: var(--mask-image-traveler);
}
