.ivds-icon--upload-cloud {
  --mask-image-upload-cloud: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M7.49998%2012L12%207.5L16.5%2012L15%2013.5L13%2011.5V22H11V11.5L8.99998%2013.5L7.49998%2012ZM11.5%202C14.057%202%2016.3672%203.55157%2017.2358%205.93092L17.2835%206.0665L17.4145%206.08731C20.0449%206.53521%2021.9316%208.61877%2021.9982%2011.3504L22%2011.5C22%2014.6412%2019.7996%2016.9265%2016.7006%2016.9983L16.55%2017H15.5V15H16.55C18.6163%2015%2020%2013.5943%2020%2011.5C20%209.53805%2018.6018%208.11878%2016.6001%208.00507L16.4715%207.99959L15.6756%207.9769L15.5194%207.19612C15.1395%205.29673%2013.4337%204%2011.5%204C9.26283%204%207.62211%205.55854%207.50658%207.75063L7.50154%207.8803L7.4877%208.99175L6.3306%209.00124C4.84062%209.04439%203.59998%2010.453%203.59998%2012.1C3.59998%2013.6644%204.83866%2014.9394%206.38874%2014.9979L6.49998%2015H8.49998V17H6.49998C3.79378%2017%201.59998%2014.8062%201.59998%2012.1C1.59998%209.68983%203.25229%207.56452%205.495%207.09571L5.56448%207.082L5.58682%206.93675C6.055%204.09689%208.36432%202.06966%2011.3452%202.00176L11.5%202Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-upload-cloud);
}

.ivds-icon-start--upload-cloud {
  --mask-image-before: var(--mask-image-upload-cloud);
}

.ivds-icon-end--upload-cloud {
  --mask-image-after: var(--mask-image-upload-cloud);
}
