.ivds-icon--user {
  --mask-image-user: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M16.2667%2013C18.8082%2013%2020.8819%2015.0031%2020.9951%2017.5167L21%2017.7333V22H3V17.7333C3%2015.1918%205.00309%2013.1181%207.51667%2013.0049L7.73333%2013H16.2667ZM7.73333%2015C6.27966%2015%205.09104%2016.1348%205.00499%2017.5668L5%2017.7333V20H19V17.7333C19%2016.3172%2017.8926%2015.0973%2016.54%2015.0075L16.3766%2015.0022L7.73333%2015ZM12%202C14.7614%202%2017%204.23858%2017%207C17%209.76142%2014.7614%2012%2012%2012C9.23858%2012%207%209.76142%207%207C7%204.23858%209.23858%202%2012%202ZM12%204C10.3431%204%209%205.34315%209%207C9%208.65685%2010.3431%2010%2012%2010C13.6569%2010%2015%208.65685%2015%207C15%205.34315%2013.6569%204%2012%204Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-user);
}

.ivds-icon-start--user {
  --mask-image-before: var(--mask-image-user);
}

.ivds-icon-end--user {
  --mask-image-after: var(--mask-image-user);
}
