.ivds-icon--videocamera {
  --mask-image-videocamera: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M13%205C15.0807%205%2016.7903%206.58866%2016.9821%208.61916L23%206.61257V17.3874L16.9821%2015.3808C16.7967%2017.3437%2015.193%2018.8936%2013.2068%2018.9947L13%2019H5C2.8578%2019%201.10892%2017.316%201.0049%2015.1996L1%2015V9C1%206.8578%202.68397%205.10892%204.80036%205.0049L5%205H13ZM13%207H5C3.94564%207%203.08183%207.81588%203.00549%208.85074L3%209V15C3%2016.0544%203.81588%2016.9182%204.85074%2016.9945L5%2017H13C14.0544%2017%2014.9182%2016.1841%2014.9945%2015.1493L15%2015V9C15%207.94564%2014.1841%207.08183%2013.1493%207.00549L13%207ZM21%209.387L17%2010.72V13.279L21%2014.612V9.387ZM6%209C6.55228%209%207%209.44772%207%2010C7%2010.5523%206.55228%2011%206%2011C5.44772%2011%205%2010.5523%205%2010C5%209.44772%205.44772%209%206%209Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-videocamera);
}

.ivds-icon-start--videocamera {
  --mask-image-before: var(--mask-image-videocamera);
}

.ivds-icon-end--videocamera {
  --mask-image-after: var(--mask-image-videocamera);
}
