.ivds-icon--vimeo {
  --mask-image-vimeo: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M19.0714%203H4.92857C3.86384%203%203%203.86384%203%204.92857V19.0714C3%2020.1362%203.86384%2021%204.92857%2021H19.0714C20.1362%2021%2021%2020.1362%2021%2019.0714V4.92857C21%203.86384%2020.1362%203%2019.0714%203ZM18.4205%209.01071C18.3643%2010.2603%2017.4884%2011.9759%2015.7969%2014.1496C14.0491%2016.4196%2012.5705%2017.5567%2011.3612%2017.5567C10.6098%2017.5567%209.97902%2016.8656%209.46071%2015.4835C8.44821%2011.775%208.0183%209.60134%207.18259%209.60134C7.08616%209.60134%206.74866%209.80223%206.17411%2010.208L5.57143%209.42857C7.05402%208.12679%208.4683%206.68036%209.35223%206.6C10.3527%206.50357%2010.9674%207.18661%2011.2004%208.65312C12.0241%2013.8603%2012.3897%2014.6478%2013.8844%2012.2893C14.4228%2011.4375%2014.7121%2010.7946%2014.7482%2010.3487C14.8848%209.0308%2013.7196%209.1192%2012.9321%209.4567C13.5629%207.3875%2014.7723%206.38304%2016.5522%206.43929C17.8741%206.47946%2018.4969%207.33929%2018.4205%209.01071Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-vimeo);
}

.ivds-icon-start--vimeo {
  --mask-image-before: var(--mask-image-vimeo);
}

.ivds-icon-end--vimeo {
  --mask-image-after: var(--mask-image-vimeo);
}
