.ivds-icon--volume-high {
  --mask-image-volume-high: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M15%202.5V21.5L9.273%2017H6C3.23858%2017%201%2014.7614%201%2012C1%209.28538%203.16334%207.07603%205.86005%207.00192L9.273%207L15%202.5ZM20.0711%204.92893C23.9053%208.76317%2023.975%2014.9364%2020.2802%2018.8557L20.0711%2019.0711L18.6569%2017.6569C21.7146%2014.5991%2021.7796%209.68201%2018.852%206.54516L18.6569%206.34315L20.0711%204.92893ZM13%206.8115L10%208.926V15.073L13%2017.188V6.8115ZM17.2218%207.73654C19.5049%2010.0196%2019.5634%2013.6848%2017.3974%2016.0388L17.2218%2016.2218L15.8076%2014.8076C17.3176%2013.2976%2017.368%2010.8806%2015.9586%209.31013L15.8076%209.15076L17.2218%207.73654ZM6.02745%208.99981L5.91499%209.00117C4.29498%209.04569%203%2010.3746%203%2012C3%2013.6192%204.28279%2014.9388%205.88753%2014.9979L6%2015H8V9L6.02745%208.99981Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-volume-high);
}

.ivds-icon-start--volume-high {
  --mask-image-before: var(--mask-image-volume-high);
}

.ivds-icon-end--volume-high {
  --mask-image-after: var(--mask-image-volume-high);
}
