.ivds-icon--wifi {
  --mask-image-wifi: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M12%2017.5338C12.8284%2017.5338%2013.5%2018.2054%2013.5%2019.0338C13.5%2019.8623%2012.8284%2020.5338%2012%2020.5338C11.1716%2020.5338%2010.5%2019.8623%2010.5%2019.0338C10.5%2018.2054%2011.1716%2017.5338%2012%2017.5338ZM16.1404%2015.5229L16.2517%2015.6315L14.8375%2017.0457C13.209%2015.4172%2010.6706%2015.3288%209.11001%2016.7933L9.02274%2016.8778L7.60852%2015.4636C9.92086%2013.1513%2013.7088%2013.2034%2016.1404%2015.5229ZM19.2659%2012.3713L19.3899%2012.4933L17.9757%2013.9075C14.728%2010.6599%209.48052%2010.6266%206.17967%2013.8055L6.06399%2013.9191L4.64977%2012.5048C8.68192%208.4727%2015.1894%208.42636%2019.2659%2012.3713ZM22.3528%209.18261L22.5281%209.35507L21.1139%2010.7693C16.1385%205.79383%208.10258%205.74407%203.06592%2010.62L2.91421%2010.7693L1.5%209.35507C7.24869%203.60638%2016.5334%203.54889%2022.3528%209.18261Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-wifi);
}

.ivds-icon-start--wifi {
  --mask-image-before: var(--mask-image-wifi);
}

.ivds-icon-end--wifi {
  --mask-image-after: var(--mask-image-wifi);
}
