.ivds-icon--youth {
  --mask-image-youth: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill-rule='evenodd'%20clip-rule='evenodd'%20d='M10%2017V22H14V17H16V24H8V17H10ZM15.3333%209C16.8061%209%2018%2010.1939%2018%2011.6667V17H16V11.6667C16%2011.2985%2015.7015%2011%2015.3333%2011H8.66667C8.33195%2011%208.05485%2011.2467%208.00723%2011.5682L8%2011.6667V17H6V11.67C6%2010.1972%207.19391%209%208.66667%209H15.3333ZM13.5%200C14.6046%200%2015.5%200.895431%2015.5%202H18V4H15.5V5C15.5%205.98703%2015.2478%206.9091%2014.5784%207.57843C13.9091%208.24776%2012.987%208.5%2012%208.5C11.013%208.5%2010.0909%208.24776%209.42157%207.57843C8.75224%206.9091%208.5%205.98703%208.5%205V2C8.5%200.895431%209.39543%200%2010.5%200H13.5ZM13.5%204H10.5V5C10.5%205.66982%2010.6693%205.99776%2010.8358%206.16421C11.0022%206.33067%2011.3302%206.5%2012%206.5C12.6698%206.5%2012.9978%206.33067%2013.1642%206.16421C13.3307%205.99776%2013.5%205.66982%2013.5%205V4Z'%20fill='black'/%3E%3C/svg%3E");
  --mask-image: var(--mask-image-youth);
}

.ivds-icon-start--youth {
  --mask-image-before: var(--mask-image-youth);
}

.ivds-icon-end--youth {
  --mask-image-after: var(--mask-image-youth);
}
