.ivds-logo {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.ivds-logo--small {
  height: 2rem;
}

.ivds-logo--medium {
  height: 3rem;
}

.ivds-logo--large {
  height: 4rem;
}

.ivds-logo--full {
  height: auto;
  width: 100%;
}
